<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_計算屬性簡寫</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
    姓: <input type="text" v-model="last_name"><br>
    名: <input type="text" v-model="first_name"><br>
    全名: <span>{{ full_name }}</span><br>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false // 關閉 Vue 在初始啟動產生的提示

    const vm = new Vue({
        el: '#root',
        data:{
            first_name: 'Chris',
            last_name: 'Fan'
        },
        computed:{
            // 完整寫法
            /*full_name:{
                get(){
                    console.log('full_name get 調用')
                    return this.last_name + '-' + this.first_name
                },
                set(value){
                    console.log('set', value)
                    const arr = value.split('-')
                    this.first_name = arr[1]
                    this.last_name = arr[0]
                }
            }*/
            // 簡寫 // 只有考慮讀取，不考慮修改時才用簡寫
            full_name(){
                console.log('full_name get 調用')
                return this.last_name + '-' + this.first_name
            }
        }
    })
</script>
</html>